:root {
    --dark-blue: #227C9D;
    --light-green: #17C3B2;
    --yellow: #FFCB77;
    --white: #FEF9EF;
    --red: #FE6D73;
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--yellow);
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}


nav {
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: var(--white);
    color: var(--dark-blue);
    width: 100%;
    text-align: center;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    padding-block-start: 0;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

nav h1 {
    padding: 20px;
}

nav a {
    padding: 5px;
    text-decoration: none;
    color: var(--dark-blue);
}

nav a:hover {
    color: var(--light-green);
}

.flex-width-container {
    width: 100%;
    padding: 20px;
    margin: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    background-color: var(--dark-blue);
}

.image-div {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    min-width: 400px;
}

.image-div img {
    width: 100%;
    margin: 15px;
}

.text-div {
    flex: 1;
    max-width: 600px;
    color: var(--white);
    margin: 30px;
}

.text-div p {
    margin: 60px;
    padding: 20px;
    border-radius: 5px;
}

img {
    border-radius: 15px;
}

img:hover,
button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

figcaption {
    text-align: center;
    color: var(--white);
}

figcaption a {
    text-decoration: none;
    color: var(--white);
}

figcaption a:hover {
    color: var(--red);
}

.flex-width-container-2 {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    background-color: var(--red);

    margin: 30px;
}

.image-div-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    min-width: 400px;
}

.image-div-2 img {
    width: 100%;
    margin: 15px;
}

.text-div-2 {
    flex: 2;
    max-width: 600px;
    color: var(--white);
    margin: 0px;
    min-width: 250px;
}

.text-div-2 p {
    margin: 0px;
    padding: 20px;
    border-radius: 5px;
}

button {
    background-color: var(--dark-blue);
    padding: 20px;
    margin: 30px;
    border-radius: 30px;
    border: none;
    color: var(--white);
}

button:hover {
    background-color: var(--light-green);
}